<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layout">
<head th:include="layout :: htmlhead" th:with="title='fly-layui'"></head>
<body>
<div layout:fragment="content">
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8 content detail">
                <div class="fly-panel detail-box">
                    <h1 th:text="${article.article.title}"></h1>
                    <div class="fly-detail-info">
                        <!-- <span class="layui-badge">审核中</span> -->
                        <span class="layui-badge layui-bg-green fly-detail-column" th:text="${article.article.categoryStr}"></span>

                        <span class="layui-badge" style="background-color: #999;" th:if="${article.article.closure==false}">未结</span>
                        <span class="layui-badge" style="background-color: #5FB878;"th:if="${article.article.closure==true}">已结</span>

                        <span class="layui-badge layui-bg-black" th:if="${article.article.top}">置顶</span>
                        <span class="layui-badge layui-bg-red" th:if="${article.article.special}">精帖</span>

                        <div class="fly-admin-box">
                            <input type="hidden" id="hidden_article_id" th:value="${article.article.id}"/>
                            <input type="hidden" id="hidden_author_id" th:value="${article.author.id}"/>
                            <span class="layui-btn layui-btn-xs jie-admin" type="del" th:if="${article.isAuthor}">删除</span>

                            <!--<span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span>-->
                            <!--&lt;!&ndash; <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> &ndash;&gt;-->

                            <!--<span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span>-->
                            <!--&lt;!&ndash; <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> &ndash;&gt;-->
                        </div>
                        <span class="fly-list-nums" id="span_nums">
                            <a href="#comment"><i class="iconfont" title="回答"></i>
                                <cit th:text="${article.commentCount}" id="jiedaCount">0</cit></a><i class="iconfont" title="人气"></i><cit th:text="${article.browseCount}">0</cit></span>
                    </div>
                    <div class="detail-about">
                        <a class="fly-avatar" href="../user/home.html">
                            <img th:src="${article.author.avatar}" th:alt="${article.author.name}">
                        </a>
                        <div class="fly-detail-user">
                            <a th:href="@{/user/home}" class="fly-link">
                                <cite th:text="${article.author.name}"></cite>
                                <i class="iconfont icon-renzheng" th:title="'认证信息： '+${article.author.authStr}"></i>
                                <i class="layui-badge fly-badge-vip" th:text="'VIP'+${article.author.vip}"></i>
                            </a>
                            <span th:text="${article.article.createAtStr}"></span>
                        </div>
                        <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                            <span style="padding-right: 10px; color: #FF7200" th:text="'悬赏: '+${article.article.experience}+'飞吻'"></span>
                            <span class="layui-btn layui-btn-xs jie-admin" type="edit" th:if="${article.isAuthor}"><a href="add.html">编辑此贴</a></span>
                        </div>
                    </div>
                    <div style="display: none;" class="detail-body photos" id="div_article_content" th:text="${article.article.content}"></div>
                </div>

                <div class="fly-panel detail-box" id="flyReply">
                    <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                        <legend>回帖</legend>
                    </fieldset>

                    <ul class="jieda" id="jieda">
                    </ul>
                    <div id="comment_page"></div>
                    <div class="layui-form layui-form-pane">
                        <form action="/article/reply/" method="post">
                            <div class="layui-form-item layui-form-text">
                                <a name="comment"></a>
                                <div class="layui-input-block">
                                    <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <input type="hidden" name="artId" th:value="${article.article.id}"/>
                                <input type="hidden" name="replyId" id="hidden_article_reply_id" value="0"/>
                                <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <dl class="fly-panel fly-list-one">
                    <dt class="fly-panel-title">本周热议</dt>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>
                    <dd>
                        <a href="">基于 layui 的极简社区页面模版</a>
                        <span><i class="iconfont icon-pinglun1"></i> 16</span>
                    </dd>

                    <!-- 无数据时 -->
                    <!--
                    <div class="fly-none">没有相关数据</div>
                    -->
                </dl>

                <div class="fly-panel">
                    <div class="fly-panel-title">
                        山东临沂欢迎您
                    </div>
                    <div class="fly-panel-main">
                        <a href="https://github.com/fanpan26/Fly.SpringCloud" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">本站源码 - Fly.SpringCloud</a>
                    </div>
                </div>

                <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                    <img src="/res/images/weixin.jpg" style="max-width: 100%;" alt="layui">
                    <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div layout:fragment="body_script">
    <script th:inline="javascript">
        layui.cache.page = 'jie';
    </script>
</div>
</body>
</html>